extends includes/layout.pug

block content

    #category
        h1.article-sort-item.title= _p('page.categories') + ' - ' + page.category
        - var year
        - page.posts.each(function(article){
        - var tempYear = date(article.date, 'YYYY')
            if tempYear !== year
                - year = tempYear
                .article-sort-item.year= year
            .article-sort-item
                if article.link
                    time.article-time(datetime=date_xml(article.date))= date(article.date)
                    a.article-link(href=url_for(article.link) target="_blank")
                        = article.title || 'No Title'
                else
                    time.article-time(datetime=date_xml(article.date))= date(article.date)
                    a.article-link(href=url_for(article.path))= article.title || 'No Title'
        - })
    //#category
    //    h1= page.category
    //    - page.posts.each(function(article){
    //    .category-item
    //        if article.link
    //            a(href=url_for(article.link) target="_blank")
    //                = article.title || 'No Title'
    //        else
    //            a(href=url_for(article.path))= article.title || 'No Title'
    //        time(datetime=date_xml(article.date))= date(article.date)
    //    - })
    include includes/pagination.pug
    //div!= paginator()

