#footer
    #side-button.button-hover
        i.fas.fa-arrow-right
    .right-content
        if theme.busuanzi.enable
            include ./count/busuanzi.pug
        - var now = new Date()
        - var nowYear = now.getFullYear()
        if theme.since && theme.since != nowYear
            - let copyrightSince = `&copy;${theme.since} ～ ${nowYear} By ${config.author}`
            .copyright!= copyrightSince
        else
            - let copyright = `&copy;${nowYear} By ${config.author}`
            .copyright!= copyright
